@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  min-height: 100%;
}
.panel {
  display: grid;
  grid-template-columns: 1fr;
}
.panel .text {
  background: #eeeee7;
  color: #323230;
  padding: 30px 60px;
}

/* welcome panel */
.panel.welcome {
  background: #323230;
  padding: 30px 60px;
  grid-auto-rows: 1fr;
}
.panel.welcome nav a {
  color: #a8a8a8;
  text-decoration: none;
  margin-right: 20px;
}
.panel.welcome p {
  color: #a8a8a8;
  max-width: 540px;
  line-height: 2em;
}
.panel.welcome h1 {
  color: #eeeee7;
  font-size: 3em;
}

.panel.welcome footer {
  align-self: end;
}

/* about panel */
.panel.about {
  grid-template-rows: 3fr 1fr;
  overflow: hidden;
}
.panel.about img {
  min-height: 100%;
  min-width: 100%;
  
}

/* photos panel */
.panel.photos {
  grid-template-rows: 1fr 3fr;
  overflow: hidden;
}
.panel.photos img {
  min-height: 100%;
  min-width: 100%;
  margin-left: -30%;
}
.footerInIndex{
   grid-column: 1 / span 3;
}
footer a{
  text-decoration: none;
  color: #323230;
  margin-right: 20px;
  padding-right:2px;
}
footer p img{
  vertical-align: bottom;
  height:20px;
  padding:1px;
  
}
footer a:hover{
 color: #990000;
 background-color:#ff9999;
 border-radius:5px;

}



/*    ---PORTFOLIO---     */
.main2 {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100%;
}
.panel2 {
  display: grid;
  grid-template-columns: 1fr;
}
.panel2 .text {
  background: #eeeee7;
  color: #323230;
  padding: 40px 60px;
}

/* welcome panel */
.panel2.welcome {
  background: #323230;
  padding: 30px 60px;
  grid-template-rows: 1fr 5fr 1fr;
}
.panel2.welcome nav a {
  color: #a8a8a8;
  text-decoration: none;
  margin-right: 20px;
}
.panel2.welcome p {
  color: #a8a8a8;
  max-width: 540px;
  line-height: 2em;
}
.panel2.welcome h1 {
  color: #eeeee7;
  font-size: 3em;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}
.panel2.welcome h1 imgCenter{
  text-align:center;
}
.panel2.welcome h1 div img{
  height: 6em;
  width: auto;
  border-radius: 50%;


}
.panel2.welcome footer {
  align-self: end;
}

/* about panel */
.panel2.about {
  grid-template-rows: 2fr 1fr;
  //overflow: hidden;
  text-align:center;
}
.panel2.about img {
  min-height: 100%;
  min-width: 100%;
  
}
/*.panel2.about .text{
  background-color: #fdd7c1;
  color: #323230;
}*/
.panel2.about .color{
  background-color: #c79c6d;
  //color: #eeeee7;
}

/* education panel */
.panel2.education {
  grid-template-rows: 1fr;
  //overflow: hidden;
  text-align:center;
}
.panel2.education img {
  min-height: 100%;
  min-width: 100%;
}
.panel2.education .text{
  background-color: #fdd7c1;
  color: #323230;
}

.panel2.education .text .innerPannel{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
}

.panel2.education .text .innerPannel .part{
  grid-template-columns: 1fr;
  padding: 40px 60px;
}

/* skills panel */
.panel2.skills .text{
  text-align:center;
}
.panel2.skills .text .innerPannel{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
}

.panel2.skills .text .innerPannel .part{
  grid-template-columns: 1fr;
  padding: 40px 60px;
}

/* hobbies panel */
.panel2.hobbies {
  grid-template-rows: 1fr;
  //overflow: hidden;
  text-align:center;
}
.panel2.hobbies img {
  min-height: 100%;
  min-width: 100%;
}
.panel2.hobbies .color{
  background-color: #323230;
  color: #a8a8a8;
}
.panel2.hobbies .color2{
  background-color: #c79c6d;
  //color: #a8a8a8;
}
.gameGallery{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gameGallery div{
  padding: 5px;
}
.gameGallery div img{
  object-fit: contain;
  width: 100%;
  height: 250px;
}



@media screen and (max-width: 1600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .main2{
    grid-template-columns: 1fr;
  }
  .panel.photos {
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .panel.photos img {
    margin-left: 0%;
    overflow:hidden;
  }
  .gameGallery{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footerInIndex{
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 1600px) {
  .panel.photos img {
    min-height: 100%;
    min-width: 100%;
    margin-left: 0%;
  }
}


@media screen and (max-width: 960px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 700px 600px;
  }
  .panel.about {
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .panel img {
    width: 100%;
  }
  .panel.photos img {
    margin-left: 0%;
  }
  .main2 {
    grid-template-rows: 500px 700px 600px;
  }
  .innerPannel{
    display:grid;
    grid-template-columns: 0fr 1fr 1fr 0fr;  
  }
  .gameGallery{
    display:grid;
    grid-template-columns: 1fr;
  }
  .footerInIndex{
    grid-column: 1 / span 2;
  }
}
@media screen and (max-width: 680px) {
  main {
    grid-template-rows: 700px 800px 900px;
  }
  .panel.about {
    grid-column: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #dcdcd0;
  }
  .panel.photos{
    grid-column: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    border-bottom: 1px solid #dcdcd0;
  }
  
  .panel img {
    width: 100%;
  }
  .panel.photos img {
    margin-left: 0%;
  }
  
  .main2 {
    grid-template-rows: 700px 800px 800px;
  }
  .panel2.welcome h1 {
    grid-template-columns: 1fr;
  }
  .panel2.education .text .innerPannel{
    display:grid;
    grid-template-columns: 1fr;  
  }
  .panel2.skills .text .innerPannel{
    grid-template-columns: 1fr;
  }
  .footerInIndex{
    grid-column: 1 / span 1;
  }
}

@media screen and (max-width: 490px) {
  .panel.photos img {
    object-fit: none;
  }
}








